:root{
    --yellow:#F17C12;
    --orange: #F17C12;
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition:all .2s linear;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

.res{
    padding: 10px; 
    margin: 10px; 
    float: right; 
    width: 75px
}
.rese{
    width: 575px
}
.btn-orange{
    background-color: #F17C12;
    color: #fff;
}
.img-tm{
    min-width: 271px;
    min-height: 410px;
    max-width: 271px;
    max-height: 410px;
}
.org{
    color: #ffa420;
    font-size: 40px;

}
.org2{
    color: #ffa420;
    font-size: 135px;

}
.ngr{
    color: rgb(255, 255, 255);
    font-size: 40px;

}
.ngr2{
    font-size: 125px;
    color: rgb(255, 255, 255);

}
.bln{
    color: white;
}

html::-webkit-scrollbar{
    width:1.2rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--orange);
}